{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "selector-pseudo-class-no-unknown": null,
    "at-rule-no-unknown": null,
    "no-descending-specificity": null,

    "alpha-value-notation": "number",
    "hue-degree-notation": "angle",
    "color-function-notation": "legacy",
    "color-hex-alpha": "never",
    "color-named": "never",
    "color-no-hex": null,
    "length-zero-no-unit": true,
    "font-weight-notation": "named-where-possible",
    "function-allowed-list": null,
    "function-disallowed-list": null,
    "function-url-no-scheme-relative": null,
    "function-url-scheme-allowed-list": null,
    "keyframes-name-pattern": "^([a-z][a-z0-9]*)(-[a-z0-9]+)*$",
    "number-max-precision": null,
    "time-min-milliseconds": null,
    "unit-allowed-list": null,
    "unit-disallowed-list": null,
    "shorthand-property-no-redundant-values": true,
    "value-no-vendor-prefix": true,
    "custom-property-pattern": "^([a-z][a-z0-9]*)(-[a-z0-9]+)*$",
    "property-allowed-list": null,
    "property-disallowed-list": null,
    "property-no-vendor-prefix": null,
    "declaration-block-no-redundant-longhand-properties": true,
    "declaration-no-important": true,
    "declaration-property-max-values": null,
    "declaration-property-unit-allowed-list": null,
    "declaration-property-unit-disallowed-list": null,
    "declaration-property-value-allowed-list": null,
    "declaration-property-value-disallowed-list": null,
    "declaration-block-single-line-max-declarations": 1,
    "selector-attribute-name-disallowed-list": null,
    "selector-attribute-operator-allowed-list": null,
    "selector-attribute-operator-disallowed-list": null,
    "selector-class-pattern": "^([a-z][a-z0-9]*)(-[a-z0-9]+)*$",
    "selector-combinator-allowed-list": null,
    "selector-combinator-disallowed-list": null,
    "selector-disallowed-list": null,
    "selector-id-pattern": "^([a-z][a-z0-9]*)(-[a-z0-9]+)*$",
    "selector-max-attribute": null,
    "selector-max-class": null,
    "selector-max-combinators": null,
    "selector-max-compound-selectors": null,
    "selector-max-empty-lines": 0,
    "selector-max-id": 0,
    "selector-max-pseudo-class": null,
    "selector-max-specificity": null,
    "selector-max-type": null,
    "selector-max-universal": null,
    "selector-nested-pattern": null,
    "selector-no-qualifying-type": null,
    "selector-no-vendor-prefix": true,
    "selector-not-notation": "complex",
    "selector-pseudo-class-allowed-list": null,
    "selector-pseudo-class-disallowed-list": null,
    "selector-pseudo-element-allowed-list": null,
    "selector-pseudo-element-colon-notation": "double",
    "selector-pseudo-element-disallowed-list": "double",
    "rule-selector-property-disallowed-list": null,
    "media-feature-name-allowed-list": null,
    "media-feature-name-disallowed-list": null,
    "media-feature-name-no-vendor-prefix": true,
    "media-feature-name-value-allowed-list": null,
    "custom-media-pattern": null,
    "at-rule-allowed-list": null,
    "at-rule-disallowed-list": null,
    "at-rule-no-vendor-prefix": true,
    "at-rule-property-required-list": null,
    "comment-pattern": null,
    "comment-word-disallowed-list": null,
    "max-nesting-depth": 5,
    "no-unknown-animations": true,

    "color-hex-case": "lower",
    "color-hex-length": "short",
    "font-family-name-quotes": "always-unless-keyword",
    "function-comma-newline-after": "always-multi-line",
    "function-comma-newline-before": "never-multi-line",
    "function-comma-space-after": "always",
    "function-comma-space-before": "never",
    "function-max-empty-lines": 0,
    "function-name-case": "lower",
    "function-parentheses-newline-inside": "never-multi-line",
    "function-parentheses-space-inside": "never",
    "function-url-quotes": "always",
    "function-whitespace-after": "always",
    "number-leading-zero": "always",
    "number-no-trailing-zeros": true,
    "string-quotes": "single",
    "unit-case": "lower",
    "value-keyword-case": [
      "lower",
      {
        "ignoreKeywords": ["BlinkMacSystemFont"]
      }
    ],
    "value-list-comma-newline-after": "always-multi-line",
    "value-list-comma-newline-before": "never-multi-line",
    "value-list-comma-space-after": "always",
    "value-list-comma-space-before": "never",
    "value-list-max-empty-lines": 0,
    "custom-property-empty-line-before": "never",
    "property-case": "lower",
    "declaration-bang-space-after": "never",
    "declaration-bang-space-before": "always",
    "declaration-colon-newline-after": "always-multi-line",
    "declaration-colon-space-after": "always",
    "declaration-colon-space-before": "never",
    "declaration-empty-line-before": "never",
    "declaration-block-semicolon-newline-after": "always",
    "declaration-block-semicolon-newline-before": "never-multi-line",
    "declaration-block-semicolon-space-after": null,
    "declaration-block-semicolon-space-before": "never",
    "declaration-block-trailing-semicolon": "always",
    "block-closing-brace-empty-line-before": "never",
    "block-closing-brace-newline-after": "always",
    "block-closing-brace-newline-before": "always",
    "block-closing-brace-space-after": null,
    "block-closing-brace-space-before": null,
    "block-opening-brace-newline-after": "always",
    "block-opening-brace-newline-before": null,
    "block-opening-brace-space-after": null,
    "block-opening-brace-space-before": "always",
    "selector-attribute-brackets-space-inside": "never",
    "selector-attribute-operator-space-after": "never",
    "selector-attribute-operator-space-before": "never",
    "selector-attribute-quotes": "always",
    "selector-combinator-space-after": "always",
    "selector-combinator-space-before": "always",
    "selector-descendant-combinator-no-non-space": true,
    "selector-pseudo-class-case": "lower",
    "selector-pseudo-class-parentheses-space-inside": "never",
    "selector-pseudo-element-case": "lower",
    "selector-type-case": "lower",
    "selector-list-comma-newline-after": "always",
    "selector-list-comma-newline-before": null,
    "selector-list-comma-space-after": null,
    "selector-list-comma-space-before": null,
    "rule-empty-line-before": null,
    "media-feature-colon-space-after": "always",
    "media-feature-colon-space-before": "never",
    "media-feature-name-case": "lower",
    "media-feature-parentheses-space-inside": "never",
    "media-feature-range-operator-space-after": "always",
    "media-feature-range-operator-space-before": "always",
    "media-query-list-comma-newline-after": "always",
    "media-query-list-comma-newline-before": null,
    "media-query-list-comma-space-after": "always",
    "media-query-list-comma-space-before": "never",
    "at-rule-empty-line-before": null,
    "at-rule-name-case": "lower",
    "at-rule-name-newline-after": null,
    "at-rule-name-space-after": "always",
    "at-rule-semicolon-newline-after": "always",
    "at-rule-semicolon-space-before": "never",
    "comment-empty-line-before": null,
    "comment-whitespace-inside": "always",
    "indentation": 2,
    "linebreaks": "unix",
    "max-empty-lines": 1,
    "max-line-length": 140,
    "no-eol-whitespace": true,
    "no-missing-end-of-source-newline": true,
    "no-empty-first-line": true,
    "unicode-bom": "never",
    "no-irregular-whitespace": true,

    "scss/at-each-key-value-single-line": true,
    "scss/at-else-closing-brace-newline-after": "always-last-in-chain",
    "scss/at-else-closing-brace-space-after": "always-intermediate",
    "scss/at-else-empty-line-before": "never",
    "scss/at-else-if-parentheses-space-before": "always",
    "scss/at-extend-no-missing-placeholder": true,
    "scss/at-function-named-arguments": "never",
    "scss/at-function-parentheses-space-before": "always",
    "scss/at-function-pattern": "^([a-z][a-z0-9]*)(-[a-z0-9]+)*$",
    "scss/at-if-closing-brace-newline-after": "always-last-in-chain",
    "scss/at-if-closing-brace-space-after": "always-intermediate",
    "scss/at-if-no-null": true,
    "scss/at-import-no-partial-leading-underscore": true,
    "scss/at-import-partial-extension": "never",
    "scss/at-import-partial-extension-blacklist": null,
    "scss/at-import-partial-extension-whitelist": null,
    "scss/at-mixin-argumentless-call-parentheses": "never",
    "scss/at-mixin-named-arguments": "never",
    "scss/at-mixin-parentheses-space-before": "always",
    "scss/at-mixin-pattern": "^([a-z][a-z0-9]*)(-[a-z0-9]+)*$",
    "scss/at-rule-conditional-no-parentheses": null,
    "scss/at-rule-no-unknown": true,
    "scss/dollar-variable-colon-newline-after": null,
    "scss/dollar-variable-colon-space-after": "always",
    "scss/dollar-variable-colon-space-before": "never",
    "scss/dollar-variable-default": null,
    "scss/dollar-variable-empty-line-after": null,
    "scss/dollar-variable-empty-line-before": null,
    "scss/dollar-variable-first-in-block": [
      true,
      {
        "ignore": ["comments", "imports"]
      }
    ],
    "scss/dollar-variable-no-missing-interpolation": true,
    "scss/dollar-variable-pattern": "^([a-z][a-z0-9]*)(-[a-z0-9]+)*$",
    "scss/double-slash-comment-empty-line-before": null,
    "scss/double-slash-comment-inline": null,
    "scss/double-slash-comment-whitespace-inside": "always",
    "scss/comment-no-empty": true,
    "scss/comment-no-loud": null,
    "scss/declaration-nested-properties": [
      "always",
      {
        "except": ["only-of-namespace"]
      }
    ],
    "scss/declaration-nested-properties-no-divided-groups": true,
    "scss/dimension-no-non-numeric-values": null,
    "scss/function-color-relative": null,
    "scss/function-quote-no-quoted-strings-inside": null,
    "scss/function-unquote-no-unquoted-strings-inside": null,
    "scss/map-keys-quotes": "always",
    "scss/media-feature-value-dollar-variable": "always",
    "scss/operator-no-newline-after": true,
    "scss/operator-no-newline-before": true,
    "scss/operator-no-unspaced": true,
    "scss/partial-no-import": true,
    "scss/selector-nest-combinators": "always",
    "scss/selector-no-redundant-nesting-selector": true,
    "scss/selector-no-union-class-name": null,
    "scss/no-dollar-variables": null,
    "scss/no-duplicate-dollar-variables": true,
    "scss/no-duplicate-mixins": true,
    "scss/no-global-function-names": true
  }
}
