@import 'styles/utils/variables';

.demo-container {
  max-width: 640px;
  margin: 0 auto;
  padding: 0 20px;
  &--header {
    padding: {
      top: 64px;
      bottom: 64px;
    }
    text-align: center;
  }
  &--footer {
    margin-top: 64px;
    padding-top: 32px;
    text-align: center;
    border-top: 1px solid rgba($color-black, 0.25);
  }
}

.demo-title {
  font-size: 3rem;
}

.demo-code {
  background-color: rgba($color-primary, 0.15);
  padding: 2px;
  border-radius: 2px;
}
