@import 'styles/utils/variables';

.main-header {
  /* Remove everything between those two comments as it's just a part of a demo page. */
  padding: 64px 0;
  text-align: center;
  h1 {
    font-size: 3rem;
  }
  /* End of demo */
}
