@import 'styles/utils/variables';

.main-footer {
  /* Remove everything between those two comments as it's just a part of a demo page. */
  margin: 64px auto 0;
  max-width: 640px;
  padding: 32px 20px 0;
  text-align: center;
  border-top: 1px solid rgba($color-black, 0.25);
  /* End of demo */
}
